h3 {
    font-family:'Dancing Script', cursive;
    font-weight:900;
    color: #540808;
}

.container-contact {
    display: flex;
    flex-direction: column;
}

.container-contact div {
	padding: 10px;
	justify-content: center;
}

.find-us {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 860px) {
    .find-us {
        flex-direction: column;
    }
}

.address-box {
    flex: 1;
}

.map-box {
    flex: 2;
    align-self: stretch;
}

.map-box iframe {
    width: 90%;
    
}

.details-box {
    padding: 15px;
    border: 5px solid #540808;
    background-color: white;
    max-width: fit-content;
    width: 90%;
    align-self: center;
    background-image: url("../../images/cakes_home/baking-fade.jpg");
    text-align: left;
}

.details-box textarea {
    width: 100%;
}

.details-box input {
    width: 60%;
    min-width: 330px;
}

.details-box input:last-of-type {
    min-width: 0px;
    width: fit-content;
}