h3 {
    font-family:'Dancing Script', cursive;
    font-weight:900;
    color: #540808;
}

.container-contact {
    display: flex;
    flex-direction: column;
}

.container-contact div {
	padding: 10px;
	justify-content: center;
}

.find-us {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 860px) {
    .find-us {
        flex-direction: column;
    }
}

.address-box {
    width: 40%
}

.details-box {
    padding: 15px;
    border: 5px solid #540808;
    background-color: white;
    max-width: fit-content;
    align-self: center;
    background-image: url("../../images/cakes_home/baking-fade.jpg");
    justify-content: stretch;
    text-align: left;
}
