/*Author1: Zouboulia */
/* Author2: Jayasri (About, Login Form, Birthday Cake Order Form)*/


html, body{
    text-align: center;
    color: black;
    width: 100%;
}

h1,h2{
    font-family:'Dancing Script', cursive;
	font-weight:900;
    color: #540808;
}


/* Top section (Logo and navbar)*/
.top{
    height:300px;
    background-image: url(images/cupcakes-header1.jpg);
    background-size: cover;
    background-color: rgb(243,244,249);  /* If image doesn't load this will be the background */
}

.separator{
    display: flex;
    height: 50px;
    background-image: url(images/174.jpg);
    background-size: contain;
    margin-bottom: 50px;
}

/* LOGO*/
#logo{ 
    /* styling logo: max width and heigh allow logo to fit in "top" section, height:auto to make logo scale up and down with page size */
    width: 100%;
    max-width: 200px;
    height: auto; 
    left: 50%;
}

.logo-div{
    transform: translateY(-50%);  /*moving logo div on Y axis -50% so it moves up on top div to place logo in the middle of both div elements*/
}

/* Nav Bar */
.navbar{ 
    /* styling Bootstrap Navbar */
    background-color: white;  /*Adding white background because on smaller screen the navbar is not easily readable when opening on top of the top div image*/ 
    font-weight:600; 
    float: right; /* NavBar to the right of top div */
}

.nav-item{
    padding: 0 18px; /* adding 18px padding left and right of navbar */
  }

.nav-item:hover{
    opacity: .9;
}

/*Adjusting font of navbar links*/
.navbar a{
    color: #540808;
}

.dropdown-item{
    font-weight: 400;
}

.active{
    text-decoration:overline;
}

/*sticky feature of navbar - W3Schools*/
.sticky{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 9999;
}


/*Animation of tagline sentence above slideshow. This CSS code moves the text from left to right on the x-axis (horizontally on the page) from invisible 0% to visible 100%*/
@keyframes tagline {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .tagline {  
    /* This section calls the tagline animation */
    animation: 3s tagline;
    background: white;
    padding: 30px;
  }




/* Middle section */

    /* SlideShow */

    .middle{
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        position: relative; /* position is relative here and the arrows will be positioned absolute on top of this div */
        margin: auto;
        }

    /* Hide all the images in slideshow by default as we will use index later in JS to decide which image to show */
    .mySlides {
        display: none;
    }

    .mySlides img {
        max-width:100%;
        max-height: auto;
        vertical-align: middle;
        border-radius: 2%;
        object-fit: cover;
        width: 900px;
        height: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        position: absolute; /* position absolute as we want the arrows in the center vertically of the image overlapping the "middle" div that contains the slides */
        top: 50%; /* arrow to be 50% from the top */
        width: auto;
        margin-top: -22px; /* This is about half the height of the arrow so that we move the arrow element up a little bit by haf its size such as it is centered on the image */
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    /* Caption text on slideshow */
    .text {
    font-family:'Dancing Script', cursive;
    font-weight:900;
    color: #540808;
    opacity: .6;
    background: -moz-linear-gradient(to bottom, rgb(243,244,249), rgb(200, 202, 209));
    background: linear-gradient(to bottom, rgb(243,244,249), rgb(200, 202, 209));
    padding: 8px 12px;
    font-size:larger;
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    }

    /* Fading animation */
    .slide-fade {
        /* For Chrome and Safari */
        -webkit-animation-name: slide-fade;
        -webkit-animation-duration: 1.0s;
        -webkit-animation-fill-mode: forwards; 
        /* other browsers */
        animation-name: slide-fade;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; 
      }
    
    @keyframes slide-fade {
        from {opacity: .7}
        to {opacity: 1}
    }

  
/* Text styling */
h5,p, h6{
    color: #540808;
}





/* Cards styling */
.cards{
    height: 500px 100%; /* seting container div height to 100% as well so it extends on smaller screens to follow content */
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(243,244,249);
	
}

.cards img{
    max-width:100%;
    max-height:100%;
    width: 250px;
    height: 200px;
}

.cards img:hover{
    transform: scale(1.1); /*creating slight zoom for images in cards*/
	
}

.text-card{
    padding-top: 5px;
}

.card-div{
    display: flex;
    align-items: center;
    justify-content: center; /* placing the cards in the center of the divs */
}

#wed-Btn{
    padding: 5px;
    border:none;
	background-color:#F4B498;
    border-radius: 8px;
}

#wed-Btn:hover{ 
    padding: 5px;
    border: none;
	background-color:#E08746;
    border-radius: 8px;
}

/* container to put image and text*/
.wed-container{
    position: relative;
    text-align: center;
    color: white;
}

.wed-text{   
    font-family:'Dancing Script', cursive;
    font-weight:900;
    opacity: .6;
    padding: 8px 12px;
    font-size:x-large;
    position: absolute;
    top: 70%;
    width: 100%;
    height: 30%;
    text-align: center;  
    /* adding same background color to match seasonal cake page */ 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

/*Some styling was taken from this tutorial: https://cssanimation.rocks/scroll-animations/#alternate-approach-intersection-observer*/
.wed-container {
    opacity: 0;
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
  }

  .wed-container.is-visible {
    opacity: 1;
  }


.separator_blank{
    display: flex;
    height: 85px;
    padding-bottom:2% ;
    padding-right: 2%;
    
}



/* Bottom section */

.bottom{
    height: 400px;
    display: flex;
    background-color: white; /* due to background attachment:fixed not supported on mobile devices*/
    background-image: url("images/cakes_home/baking-fade.jpg");
	background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.subscription{
    width: 50%;
}

form button{
    border: none;
    background: inherit;
}


/* Footer */
.footer{
    display: flex;
    background-color: rgb(243,244,249);
    height: 100%;
    padding: 20px 10px 10px;
}

.icon-style{
    height: 40px;
    width: 45px;
}

.toTop{
    background-color: inherit;
    border: none;
}

.toTop:hover{
    opacity: 0.5;
}

.social:hover{
    opacity: 0.5;
}

/* Author1: Zouboulia - END*/




/* Author2: Jayasri - START*/
/* CSS About : START */

.about-area{
	border: 0px solid; background-size: 100% ; background-attachment: scroll; height: auto; text-align: center; background-size: cover; background-repeat: no-repeat; 
	background-attachment: scroll; animation: 0s ease 0s 1 normal none running none; 		
}

.about-text{
	border: 5px solid; border-color: white; 	border-radius: 100px; 	border-radius: 5px; 	margin-left: 100px; 	margin-right: 100px;	text-align: left;    	
	font-weight: bold; background-image: url("images/cakes_home/baking-fade.jpg"); background-size: cover; background-position: 50% 50%; 
	background-repeat: no-repeat; background-attachment: scroll;	 box-shadow: 1px 1px 1px 1px #EAF1F0;	
	font-size: 20px; font-weight:100px; color: #540808; width: 90%; align-items: center;   padding:2% 10% 2%;
}

.about-text-h1{
	font-family: 'Brush Script MT', cursive;
    font-weight:100;
    color: #540808;
	font-size: 45px;
}
.about img{  /* Best selling cakes - images below about us text cards*/
    max-width:100%; max-height:100%; width: 250px;
    height: 200px; 
	}

.about img:hover{
    transform: scale(1.1); /*creating slight zoom for images in cards*/
}


.about-p{  /* Color for about us text*/
    color: black;
}

/* CSS About : END */

/* CSS Birthday Cakes Order Form - START */
#cart{  /* card value */
	font-size: 7px;
	font-weight: italic;
	color: black;
	text-align: center;
}

.OrderContainer {
    width: 100%;    
	justify-content: center;
	text-align: center;
  }
  .OrderContent {
	  
	max-width: 100%;
	border: 0px solid;
	justify-content: center;
	padding: 5px;

  }
 .OrderContentImg{
	width: 420px;
	height:500px;
	max-width: 120%;
	max-height: 100%;
 }

  
  .order-calc-area{
	  justify-content: right; color: red;
  }

  
 .order-calc{
	margin-left: 30px; 	padding: 15px;	border: 0px solid;	border-radius: 2px; font-family: "Arial", sans-serif;	font-size: 14px; color: black; font-weight: bold;	
	width: 300px; 	height:500px; max-width: 100%;	max-height: 100%;	background-color: white; box-shadow: 1px 1px 5px 2px #867979;
	justify-content: center; text-align: left;
}


.add2CartButton{	/* Add to cart button colors */
	margin-left: 20px; 	padding: 10px;	border: 0px solid;	border-radius: 10px;	text-align: center; 	color: black;	font-weight:  bold;
	border-color: #F4B498; 	background-color:#F4B498;		width: 100%;	max-width: 300px;		
}

.add2CartButton:hover{	 /* Add to cart button colors change on mouse hover*/	
	color: black; 	border-color: #E08746;	background-color:#E08746;	
}
.order-calc-box{	
	border-radius: 5px; 	border: 0px solid;	font-weight: bold;    display: flex;	color: #002366;	background-color: #ffe4e1;	max-width: 100%;	max-height: 100%;
}

.total-price{
	color: black; 	font-weight: bold;	
}


/* Button */
.button {
  background-color: black;     border: 0px solid;  border-radius: 5%;     text-align: center;  text-decoration: none;  display: inline-block;  font-size: 16px;  margin: 4px 2px;
  cursor: pointer;   font-size: 150%;  font-weight:  bold;  color: red;  
}


/*CSS - Birthday - END */

/* Login Form CSS - Start */
#LoginId{
	display: space-between; 	
	font-size: 7px;	
	font-weight: italic; 	

	text-align: center;	
	text-transform: lowercase;	
}

.login-form-area{	
	padding: 50px;	 	border: 1 px solid; border-radius: 10px;
	text-align: center;    font-family: "Arial", sans-serif;
	font-size: 20px; color: black; font-weight: bold;
	width: 400px; max-width: 110%; height: 500px;		background-image: url("images/cakes_home/baking-fade.jpg");
	background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; 
	background-attachment: fixed; 	text-align: center; 	
}

.login-form{
	margin-left: 10px;  padding-right: 140px; padding-top: 50px; padding-bottom: 50px;	width: 95%;	height: 300px;
	border: 10px solid; border-radius: 2px; border-color: white;	text-align: left;   font-family: "Arial", sans-serif;
	font-size: 14px; color: black; font-weight: bold;	background-color: white;	box-shadow: 1px 1px 1px 1px #867979;		
}

.login-text-box{	
	border: 1px solid; border-color: white; font-weight: bold; color: #002366; background-color: #ffe4e1; box-shadow: 1px 1px 1px 2px #867979;
}

#loginFail{
	color: red;  font-size:20px; font-weight: bold; width: 200%; text-align: center;
}

/* Login Form CSS - End */

/* Author2: Jayasri - END*/





